* {
  /*box sizing border-box;*/
  font-family: "Roboto", sans-serif;
}
.maindiv {
  background-color: rgb(125, 127, 153);
  text-align: center;
  padding: 50px;
  width: 300px;
   height:250px;
  margin: 430px;
  margin-top: 30px;
}

#login {
  font-style: initial;
  font-size:xx-large;
  margin-top: -8px;
  font-weight: bold;
}

#email {
  width: 250px;
  height: 20px;
}

#password {
  width: 250px;
  height: 20px;
}

#signinButton {
  height: 35px;
  width: 250px;
  margin-top:20px;
}

#registerButton {
  height: 35px;
  width: 250px;
}

#registerText {
  width: 300px;
  height: 30px;
  font-size: xx-small
}

#forgetPassword {
  width: 150px;
  text-align: center;
  font-size: x-small;
  background-color:rgb(130, 141, 235);
  font-family: sans-serif;
  margin-right: -127px;
}
